@import "tailwindcss";

@theme {
  --color-primary-container: #ff5f5e;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed-variant: #910819;
  --color-surface: #f8f9fa;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #5a413f;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-highest: #e1e3e4;
  --color-outline-variant: #e1bebc;
  --color-secondary: #006591;
  
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  .glass-nav {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
  }
  .hero-gradient {
    background: linear-gradient(135deg, #f8f9fa 0%, #ffffff 100%);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
